<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'user-form' }) do |f| %>
  <div class="form-group <%= f.object.errors[:email].any? ? 'has-error' : '' %>">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    <% if f.object.errors[:email].any? %>
      <div class='error-message'>
        <%= f.object.errors[:email].first %>
      </div>
    <% end %>
  </div>

  <div class="form-group <%= f.object.errors[:password].any? ? 'has-error' : '' %>">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <br />
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
    <% if f.object.errors[:password].any? %>
      <div class='error-message'>
        <%= f.object.errors[:password].first %>
      </div>
    <% end %>
  </div>

  <div class="form-group <%= f.object.errors[:password_confirmation].any? ? 'has-error' : '' %>">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
    <% if f.object.errors[:password_confirmation].any? %>
      <div class='error-message'>
        <%= f.object.errors[:password_confirmation].first %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>

