<!DOCTYPE html>
<html>
<head>
  <title>DirectionsServices</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
  <%= yield :javascript %>
  <%= yield :style %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav nav-tabs">
    <li class="<%= request.path == '/' ? 'active' : '' %>">
      <a href="/">Home</a>
    </li>
    <% if user_signed_in? %>
      <li class="<%= request.path == '/' ? '' : 'active' %>">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li class="<%= request.path == '/' ? '' : 'active' %>">
        <%= link_to 'Log In', new_user_session_path, method: :get %>
      </li>
    <% end %>
  </ul>
<%= yield %>

</body>
</html>
